<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,700,700i" rel="stylesheet">
</head>
<body>
    <div class="main-w3layouts wrapper">
        <h1>Reset Your Password</h1>
        <div class="main-agileinfo">
            <div class="agileits-top">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div>
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                
                <form action="{{ url_for('reset_password', token=token) }}" method="post">
                    <input class="text" type="password" name="password" placeholder="New password" required="">
                    <input class="text w3lpass" type="password" name="confirm_password" placeholder="Confirm password" required="">
                    <input type="submit" value="Update Password">
                </form>
            </div>
        </div>
        <ul class="colorlib-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</body>
</html>
